:root {
    --secondary-text-color: #757575;
    --background-color: #ffffff;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-background-color:#E5E5E5;
    --section-background-color: rgba(47, 48, 58, 0.8);
    --team-section-background: #F5F4FA;
    --footer-color: #2F303A;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --footer-copyright-color: rgba(255, 255, 255, 0.4);
    --background-icon: #F5F4FA;
}

/* цвет основного текста #212121; */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* синий акцент #2196F3 */
/* background: #E5E5E5 */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    background-color: var(--background-color);
    color: var(--title-text-color);
    font-family: roboto, sans-serif;
    margin: 0;
}


.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-header {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}

.header-wrapper {
    background-color: var(--background-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center; 
}

.page-header .nav {
    display: flex;
    align-items: center;
} 

.logo-item {
    color: var(--accent-color);
    font-weight: 700;
}

.logo {
    color: var(--title-text-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
/* Навигация по сайту */

.site-nav {
    display: flex;
    margin-left: 86px;

}

.site-nav-item .studio {
    position: relative;
}


.site-nav .item {
    margin-right: 50px;
}

.site-nav .item:last-child {
    margin-right: 0px;
}

.site-nav-list a {
    color: var(--title-text-color);
}

.site-nav-item {
    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
   
}

.site-nav-item:hover {
    color: var(--accent-color);
}

.site-nav .item {
    position: relative;
    
}
.current {
    color: var(--accent-color);
}
.current::after {
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    left: 0px;
    top: 76px;
    border-radius: 2px;
}

.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav-item {
    text-decoration: none;
}

.auth-nav .item {
    margin-right: 30px;
}

.auth-nav .item + .item {
    margin-right: 0px;
}

.site-nav,
.auth-nav {
    letter-spacing: 0.02em;
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.auth-nav a {
    color: var(--secondary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav a:hover,
.auth-nav a:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}

.container-header {
    display: flex;
}

.envelope-icon {
    width: 16px;
    height: 11px;
    margin-right: 10px;
    fill: currentColor;
    vertical-align: middle;
}


.phone-icon {
    width: 10px;
    height: 15px;
    margin-right: 10px;
    fill: currentColor;
    vertical-align: middle
}

/* Hero */
.text-title {
    color: var(--background-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px; 
    text-align: center;
    
}

.team-section,
.text,
.feature-section,
.option-section,
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.text {
    letter-spacing: 0.06em;
    text-align: center;
    margin-bottom: 0px;
    /* height: 600px; */
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url(../image/Header.jpg);
    background-color: var(--title-text-color);
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
   
}

.button {
    color: var(--background-color);
    background-color: #2196F3;
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 200px;
    height: 50px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    border-style: none;
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
}

/* Секция преимущества */

.feature-section {
    border-bottom: 1px solid #ECECEC;
}

.feature-section h2 {
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: none;
}

.header {
    margin-top: 0px;
    margin-bottom: 50px;
}

.features-list p {
    color: var(--secondary-text-color); 
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
}

.features-list h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: left;
}

.features-list :last-child {
    margin-bottom: 0px;
    margin-top: 0px;
}

.features-list {
    background-color: var(--background-color); 
    letter-spacing: 0.03em;
    list-style: none;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
    display: flex;

}

.features-list li {
    width: 270px;
    margin-right: 30px;
}

.features-list li:last-child {
    margin-right: 0px;
}

.feature-list-item::before { 
    content:'';
    display: block;
    background-color: var(--background-icon);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 270px;
    height: 120px;
    background-size: 70px 70px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.feature-list-item:nth-child(1)::before {
    background-image: url(../image/antenna.svg);
}

.feature-list-item:nth-child(2)::before {
    background-image: url(../image/clock.svg);
}

.feature-list-item:nth-child(3)::before {
    background-image: url(../image/diagram.svg);
}

.feature-list-item:nth-child(4)::before {
    background-image: url(../image/astronaut.svg);
}


.option-section h2 {
    justify-content: center;
    display: flex;
}


.option-section h2 {
    font-size: 36px;
}

.option-image {
    display: block;
}

.option-list {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.option-list a {
    text-decoration: none;
}

.list-description {
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    bottom:0px;
}

.option-list li {
    margin-right: 30px;
    width: 370px;
}

.option-list li:last-child {
    margin-right: 0;
}


.option-list p {
    /* background-color: var(--section-background-color); */
    color: var(--background-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
}
/* Секция команды */

.image {
    margin-bottom: 30px;
}


.team-section-list {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    display: flex;
}

.team-section-list > li {
    background-color: var(--background-color);
    list-style: none;
    width: 270px;
}

.first-item {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-section-list {
    display: flex;
    justify-content: center;
}

.team-section-list h3,
.team-section-list p {
    display: flex;
    justify-content: center;
}

.secondary-list {
    display: flex;
    padding-left: 0px;
    margin-right: 0px;
    justify-content: center;
   
}


 .secondary-list li {
    list-style: none;
    margin: 0;
    padding: 0;
} 


.secondary-list .item + .item {
    margin-left: 10px;
}

.team-section h3 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 10px;
}

.team-section h2 {
    font-size: 36px;
    justify-content: center;
    display: flex;
}
.team-section {
    background-color: var(--team-section-background); 
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.16;
}

.team-section-list .first-item + .first-item {
    margin-left: 30px;
}

.team-section p {
    color: var(--secondary-text-color);
    margin-top: 0px;
    margin-bottom: 16px;
}

.social-link {
    display: block;
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    border-radius: 50%;
}

.secondary-list {
    padding-bottom: 24px;
}

.secondary-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property:var(--background-color), color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
} 

.secondary-list a:hover {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.social-icon {
    fill: currentColor;
}

.clients h2 {
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.clients-list {
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

.company {
    fill: currentColor;
}


.company-link {
    width: 170px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition-property: border, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.clients-list .item {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.company-link:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}




.clients-list .item + .item {
    margin-left: 30px;
}

/* Footer */

.footer {
    background-color: var(--footer-color);
    letter-spacing: 0.03em;
    font-size: 14px;
    padding-top: 48px;
    padding-bottom: 60px;

}

.footer-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property:var(--background-color), color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-link:hover {
    background-color: var(--accent-color);
}

.div-flex {
    display: flex;
    justify-content: space-around;
   
}

.first-div {
    width: 231px;
}

.second-div {
    width: 207px;
    list-style: none;
}

.footer a:hover,
.footer a:focus {
color: var(--accent-color);
}

.logotype-item, .studio-item {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
}

.logotype-item {
    color: var(--accent-color);
}
.studio-item {
    color: var(--background-color);
}
.content {
    color: var(--background-color);
    font-style: normal;
    margin-top: 10px;
}

.contacts {
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contacts li {
    margin-top: 10px;
}

.contacts a {
    color: var(--footer-contacts-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.socials {
    color: var(--background-color);
    font-weight: 700;
    text-transform: uppercase;
}

.social-icon-footer {
    fill: var(--background-color);
}

.socials-list {
    width: 207px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.socials-list li {
    width: 44px;
}

.second-div ul {
    list-style: none;
    display: flex;
    padding-left: 0px;
}

.second-div p{
    margin-top: 0px;
    margin-bottom: 21px;
    display: flex;
    justify-content: space-between;
}



.socials-list li {
    display: flex;
    justify-content: start;
    
}

.socials-list .item {
    display: flex;
    justify-content: start;
    
}

.second-div ul .item + .item {
    margin-left: 10px;
}

.subscription {
    color: var(--background-color);
    font-weight: 700;
    text-transform: uppercase;
}
.copy {
    color: var(--footer-copyright-color);
    font-size: 12px;
    margin-top: 28px;
    margin-bottom: 0px;
    padding-bottom: 21px;
    display: flex;
    justify-content: center;
    padding-top: 18px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    
}

.list {
    background-color: var(--team-section-background);
}

.mailing {
    margin-top: 0px;
    margin-bottom: 0;
    display: flex;
    align-items: flex-end;
}

.mailing input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    background-color: var(--footer-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 20px;
} 

.subscribe {
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    padding: 0;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--background-color);
    margin-left: 12px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;   
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.subscribe-icon {
    margin-left: 10px;
}



/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    opacity: 1;
}

.close-icon {
    display: inline-block;
    width: 30px;
    height: 3px;
    
}
.modal { 
    background-color: var(--background-color);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding-right: 40px;
    padding-left: 40px;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form {
    width: 528px;
    padding-top: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

}

.form-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    
    margin-top: 0px;
    margin-bottom: 30px;
    display: block;
}

.form-field {
    margin-bottom: 28px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-field input {
    
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 0px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
}

.textarea {
    position: relative;

}

.comment-label {
    position: absolute;
    top: 12px;
    left: 16px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus + .comment-label,
.comment:not(:placeholder-shown) + .comment-label {
    color: var(--accent-color);
    transform: translate(0px, -30px);
}

.form-input:focus ~ .name-icon,
.form-input:focus ~ .tel-icon,
.form-input:focus ~ .mail-icon {
    fill: var(--accent-color);
}
.form-label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
    color: var(--accent-color);
    transform: translate(-20px, -40px);
    
}
 
.close-btn {
    width: 30px;
    height: 30px;
    background-color: var(--background-color);
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    top: 8px;
    right: 8px;
}

.close-btn:hover,
.close-btn:focus {
    fill: var(--accent-color)
}
   .name-icon {
       position: absolute;
       top: 14px;
       left: 19px;
   }

   .tel-icon {
       position: absolute;
       top: 14px;
       left: 19px;
   }

   .mail-icon {
       position: absolute;
       top: 14px;
       left: 18px;
   }
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

textarea {
    resize: none;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: -6px;
    left: -5px;

    
}

.check {
    justify-content: center;
    flex-direction: row;
}

.form-field .checkbox {
    border: none;
    outline: none; 
   
   
}

.checkbox-label {
    position: absolute;
    display: flex;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
}



.button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

.checkbox-label a {
    color: var(--accent-color);
    text-decoration: underline;
    margin-left: 4px;
}

.checkbox-label::before {
    content: '';
    background-image: url('../image/check.svg');
    width: 16px;
    height: 15px;
    display: block;
    margin-right: 7px;
    border: 1px solid;
}

.checkbox:checked + .checkbox-label::before{
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-size: contain;
    background-origin: border-box;
    
}
/* Portfolio page */

/* html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */

.portfolio-list li {
    border: 1px solid #EEEEEE;
}

.portfolio-list li:hover,
.portfolio-list li:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.page-header {
    background-color: var(--background-color);
   
}

.list-item {
    color: var(--title-text-color);
    list-style: none;
}

.list-item-portfolio p {
color: var(--secondary-text-color);
}

.list-item-portfolio {
    list-style: none;
}

/* Buttons */

.page-header {
    border-bottom: 1px solid #ECECEC;;
}

.title {
    display: none;
}

 .filter:hover {
background-color: var(--accent-color);
color: var(--background-color);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
cursor: pointer;
}

.filter {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #F5F4FA;
    border-radius: 4px;
    border-style: none;
    font-weight: 500;
    font-family: inherit;
    transition: background-color 250ms, color 250ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
}

.list-item-portfolio {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
   
    
} 


.second-title {
    padding-top: 20px;
    margin-bottom: 4px;
    padding-right: 24px;
    padding-left: 24px;
   
}



.text-description {
    position: relative;
}


.list-item-portfolio:hover {
    cursor: pointer;
}

.list-item-portfolio:hover .secondary-text,
.list-item-portfolio:hover .text-description::before {
    content: '';
    opacity: 1;
    color: var(--background-color);
    transform: translateY(0); 
    
    
}

.text-description {
    position: relative;
    overflow: hidden;
}


.text-description::before {
    content: '';
    background-color: rgba(33, 150, 243, 0.9);
    width: 370px;
    height: 294px;
    display: block;
    position: absolute;
    opacity: 0;
    transform: translateY(100%);
    transition-duration: 250ms;
   
} 


.secondary-text {
    position: absolute;
    width: 100%;
    height: 100%;  
    top: 63px;
    left: 0;
    opacity: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    transform: translateY(100%);
    transition-duration: 250ms;
    
}


.secondary-text,
.project-list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-bottom: 50px;  
    display: flex;
    justify-content: center;
}

.project-list .list-item + .list-item {
    margin-left: 8px;
}

.web-icon {
    padding-bottom: 20px;
}

.project-list button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}

.projects {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
}

.list-item-portfolio:nth-child(3n) {
    margin-right: 0px;
}

.web-icon {
    padding-bottom: 0px;
}

.portfolio-list h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* letter-spacing: 0.06em; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.portfolio-list p {
    padding-left: 24px;
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: start;
    padding-bottom: 20px;
    
}


