.hero {
  background-color: $background-color;
  padding: 118px 0;
  text-align: center;
}

.hero__title {
  margin: 0 0 30px 0;
  color: $white;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
}

.overlay {
  max-width: 480px;
  min-height: 400px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-background@2x.jpg);
  }
}

.hero__button {
  width: 200px;
  height: 50px;
  color: $white;
  background-color: $accent-color;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  letter-spacing: 0.06em;
  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms $timing-function;
  }
}

/* Tablet */

@media screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-background-tablet.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-background-tablet@2x.jpg);
  }
}

/* Desktop */

@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-background-desktop.jpg);
  }

  .hero {
    padding: 200px 0;
  }

  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-background-desktop@2x.jpg);
  }
}
